
# PYTHON MEGA COURSE
   Phase 1

Exercise 2

1.Print first 10 natural numbers using while loop.

In [1]:
i=1

In [2]:
while i<= 10:
    print(i,end=' ')
    i += 1

1 2 3 4 5 6 7 8 9 10

2.Calculate the sum of all numbers from 1 to a given number.

In [3]:
x=int(input('Enter a number: '))
sum=0
for i in range(1,x+1):
    sum+=i
print('The sum is ',sum)

Enter a number: 65
The sum is  2145

3.Write a program to print multiplication table of a given number.

In [4]:
num=int(input('Enter a number '))
for i in range(1,11):
    print(num,'x',i,'=',num*i)

Enter a number 34
34 x 1 = 34
34 x 2 = 68
34 x 3 = 102
34 x 4 = 136
34 x 5 = 170
34 x 6 = 204
34 x 7 = 238
34 x 8 = 272
34 x 9 = 306
34 x 10 = 340

4.Display numbers from a list using loop.

In [5]:
lst=[0,1,2,3,4,5,6,7,8,9]

In [6]:
i=0

In [7]:
while i<len(lst):
    print(lst[i],end=' ')
    i = i+1

0 1 2 3 4 5 6 7 8 9

5.Count the total number of digits in a number.

In [8]:
n=int(input('Enter the number: '))
count=0
while(n>0):
    count=count+1
    n=n//10
print('The total number of digits is ',count)

Enter the number: 67890
The total number of digits is  5

6.Print list in reverse order using loop.

In [9]:
lst=[1,2,3,4,5,6]

In [10]:
print("List before reverse: ",lst)

List before reverse:  [1, 2, 3, 4, 5, 6]

In [11]:
for i in reversed(lst):
    print(i,end=' ')

6 5 4 3 2 1

7.Display numbers from -10 to -1 using for loop.

In [12]:
i=0

In [13]:
for i in range(-10,0):
    print(i,end=' ')

-10 -9 -8 -7 -6 -5 -4 -3 -2 -1

8. Use else block to display a message "Done" after successful execution of for loop.

In [14]:
for i in range(5):
    print(i)
else:
    print("Done!")

0
1
2
3
4
Done!

9. Write a program to display all prime numbers within a range.

In [15]:
# Rangex
start=int(input('Enter lower value '))
end=int(input('Enter upper value'))
print("Prime numbers between",start,"and",end,"are: ")
for num in range(start, end+ 1):
    # all prime numbers are greater than 1
    # if number is less than or equal to 1, it is not prime
    if num > 1:
        for i in range(2, num):
            # check for factors
            if (num % i) == 0:
                # not a prime number so break inner loop and
                # look for next number
                break
        else:
            print(num,end=' ')

Enter lower value 5
Enter upper value125
Prime numbers between 5 and 125 are:
5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97 101 103 107 109 113

In [16]:
# first two numbers 10. Display Fibonacci series up to 10 terms. 

num1, num2 = 0, 1

print("Fibonacci sequence:")
# run loop 10 times
for i in range(10):
    # print next number of a series
    print(num1, end="  ")    # add last two numbers to get next number
    res = num1 + num2

    # update values
    num1 = num2
    num2 = res

Fibonacci sequence:
0  1  1  2  3  5  8  13  21  34

11. Find the factorial of a given number

In [17]:
num=int(input('Enter a number'))
factorial=1
if num < 0:
    print("Factorial does not exist for negative numbers")
elif num == 0:
    print("The factorial of 0 is 1")
else:
    # run loop 5 times
    for i in range(1, num + 1):
        # multiply factorial by current number
        factorial = factorial * i
    print("The factorial of", num, "is", factorial)

Enter a number89
The factorial of 89 is 16507955160908461081216919262453619309839666236496541854913520707833171034378509739399912570787600662729080382999756800000000000000000000

12. Reverse a given integer number

In [18]:
num = 76542
reverse_number = 0
print("Given Number ", num)
while num > 0:
    reminder = num % 10
    reverse_number = (reverse_number * 10) + reminder
    num = num // 10
print("Revere Number ", reverse_number)

Given Number  76542
Revere Number  24567

13. Use a loop to display elements from a given list present at odd index positions.

In [19]:
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
# stat from index 1 with step 2( means 1, 3, 5, an so on)
for i in my_list[1::2]:
    print(i, end=" ")

20 40 60 80 100

14. Calculate the cube of all numbers from 1 to a given number.

In [20]:
n = 5
# first number of sequence
start = 2
sum_seq = 0

# run loop n times
for i in range(0, n):
    print(start, end="+")
    sum_seq += start
    # calculate the next term
    start = start * 10 + 2
print("\nSum of above series is:", sum_seq)

2+22+222+2222+22222+
Sum of above series is: 24690

15. Find the sum of the series upto n terms .

In [21]:
n = 5
# first number of sequence
start = 2
sum_seq = 0

# run loop n times
for i in range(0, n):
    print(start, end="+")
    sum_seq += start
    # calculate the next term
    start = start * 10 + 2
print("\nSum of above series is:", sum_seq)

2+22+222+2222+22222+
Sum of above series is: 24690

16. Print the following pattern.

Pattern 1

In [22]:
for i in range(1,7):
    for j in range(1,i):          
        print(j,end='   ')
    print('\n')

1

1   2

1   2   3

1   2   3   4

1   2   3   4   5

Pattern 2

In [23]:
for i in range(1,7):         #patten 3
    for j in range(1,i):
        print('*',end='  ')
    print('\n')

*

*  *

*  *  *

*  *  *  *

*  *  *  *  *

Pattern 3

In [24]:
for i in range(1,7):         #patten 3
    for j in range(1,i):
        print('*',end='  ')
    print('\n')

*

*  *

*  *  *

*  *  *  *

*  *  *  *  *

Pattern 4

In [25]:
for i in range(1,6):
    for j in range(0,i):          #patten4
        print(i,end='   ')
    print('\n')

1

2   2

3   3   3

4   4   4   4

5   5   5   5   5

Pattern 5

In [26]:
rows = 5
for i in range(0, rows):
    for j in range(0, i + 1):
        print("a", end=' ')
    print("\r")

for i in range(rows, 0, -1):
    for j in range(0, i - 1):
        print("b", end=' ')
    print("\r")

a
a a
a a a
a a a a
a a a a a
b b b b
b b b
b b
b