# LAMBDA FUNCTION

In [2]:
add = lambda x,y:x+y

In [3]:
add(2,5)

7

Syntax: function_name = lamdba arguments expressions

In [4]:
f_name = lambda first,middle,last:first+' '+middle+' '+last

In [5]:
f_name('Shiv','Shankar ','Sah')

'Shiv Shankar  Sah'

Display the sum of first natural numbers using lambda function

In [1]:
sum_n = lambda n:(n*(n+1))/2

In [2]:
sum_n(10)

55.0

In [4]:
n= int(input('Enter Number :'))
sum_n(n)

Enter Number :23

276.0

In [ ]:
x='SABINA'